﻿@model IEnumerable<MongoDbProj.Models.Proizvod>

@{
    ViewData["Title"] = "idiNaPretraziProizvod";
}

<h1>Pretrazi</h1>

<h4>Proizvod</h4>

<form action="pretraziProizvod">
    <input type="search" name="Naziv" id="form1" class="form-control" placeholder="Pretrazi poroizvod po imenu." />
    <br /> <br />

    <input type="text" name="Naziv" placeholder="Naziv" value="" hidden="hidden" />
    <br /> <br />

    <input style="background-color:palevioletred" type="submit" value="Pretrazi" />

</form>

<hr />



