﻿@model MongoDbProj.Models.Proizvod

@{
    ViewData["Title"] = "idiNaKreirajProizvod";
}

<h1>Kreiraj proizvod</h1>
<hr />
<hr />

<h4>Proizvod</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="kreirajPoizvod" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sifra" class="control-label"></label>
                <input asp-for="Sifra" class="form-control" />
                <span asp-validation-for="Sifra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Kolicina" class="control-label"></label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdProdavnice" class="control-label"></label>
                <input asp-for="IdProdavnice" class="form-control" />
                <span asp-validation-for="IdProdavnice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

