﻿@model IEnumerable<MongoDbProj.Models.Proizvod>

@{
    ViewData["Title"] = "pretraziProizvod";
}

<h1>pretraziProizvod</h1>

<table border="2" style="background-color:lightgreen;text-align:center">

    @if (Model != null)
    {

        <thead>
            <tr>
                <th width="200">Proizvod ID</th>
                <th width="200">Sifra</th>
                <th width="200">Naziv</th>
                <th width="200">Cena</th>
                <th width="200">Kolicina</th>
                <th width="200">Id prodavnice</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Sifra</td>
                    <td>@item.Naziv</td>
                    <td>@item.Cena</td>
                    <td>@item.Kolicina</td>
                    <td>@item.IdProdavnice</td>

                </tr>
            }
        </tbody>

    }

</table>
