﻿@model IEnumerable<MongoDbProj.Models.Proizvod>

@{
    ViewData["Title"] = "prikaziProizvode";
}

<h1>Prikaz proizvoda </h1>
<hr />
<hr />


<a href="../Index">Vrati se natrag </a>
 <hr />

<table class="table">
    <thead>
        <tr>
            <th width="200">Id</th>

            <th width="200">Sifra</th>

            <th width="200">Naziv</th>
            <th width="200">Cena </th>
            <th width="200">Kolicina </th>

            <th width="200">Id Prodavnice</th>
            <th width="200">Funkcije</th>



        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Sifra</td>

            <td>@item.Naziv</td>
            <td>@item.Cena</td>
            <td>@item.Kolicina</td>

            <td>@item.IdProdavnice</td>

            <td>
                <form action="obrisiProizvod" >
                    <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                    <input style="width:100%;background-color:lightyellow; color:red" type="submit" value="Obriši proizvod" />
                </form>
           
                <form action="idiNaIzmeniProizvod">
                    <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                    <input style="width:100%;background-color:lightyellow; color:red" type="submit" value="Izmeni proizvod" />
                </form>
            </td>

        </tr>
        }
    </tbody>
</table>
