﻿@model MongoDbProj.Models.Korisnik

@{
    ViewData["Title"] = "idiNaKreirajProdavnicu";
}

<h1 style="background-color:lightgreen">Uloguj se ili kreiraj  nalog </h1>
<hr />
<h4> korisnik:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="kreirajKorisnikaa" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id   " class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email   " class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <hr />
            <br>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

