﻿@model MongoDbProj.Models.Korpa

@{
    ViewData["Title"] = "prikaziSadrzajKorpe";
}

<h1>prikaziSadrzajKorpe</h1>

<table class="table">
    <thead>
        <tr>
            <th width="200">
                Sifra
            </th>
            <th width="200">
                Naziv
            </th>
            <th width="200">
                Cena
            </th>


            <th width="200">
                Brisanje
            </th>
        </tr>
    </thead>
    <tbody style="background-color:lightgreen">
        @foreach (var item in Model.Proizvodi)
        {
            <tr>
                <td>
                    @item.Sifra
                </td>
                <td>
                    @item.Naziv
                </td>
                <td>
                    @item.Cena
                </td>
                =

                <td>
                    <form action="obrisiProizvodIzKorpe" method="post">
                        <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                        <input type="text" name="IdKorpe" placeholder="IdKorpe" value="@Model.Id" hidden="hidden" />

                        <input style="width:100%;background-color:aliceblue" color="blue" type="submit" value="Obrisi proizvod iz korpe" background-color="#C8E0E8" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<hr />

<div>Ukupna cena korpe: @Model.UkupnaCenaKorpe</div>
<hr />
<hr />
