﻿@model IEnumerable<MongoDbProj.Models.Proizvod>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "prikaziProizvodeKorisniku";
}

<h1 style="background-color:darkslategray; color:white; text-align:center">Proizvodi koje prodavnica nudi</h1>


<table class="table">
    <thead>
        <tr>
            <th width="200">
                Sifra
            </th>
            <th width="200">
                Naziv
            </th>
            <th width="200">
                Cena
            </th>
            <th width="200">
                Kolicina
            </th>

            <th width="200">
                Kupovina
            </th>
        </tr>
    </thead>
    <tbody style="background-color:lightgreen">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Sifra
                </td>
                <td>
                    @item.Naziv
                </td>
                <td>
                    @item.Cena
                </td>
                <td>
                    @item.Kolicina
                </td>

                <td>
                    <form action="dodajProizvodUkorpu" method="post">
                        <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                        <input style="width:100%;background-color:aliceblue" color="blue" type="submit" value="Dodaj proizvod u korpu" background-color="#C8E0E8" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<br>
<div>
    <label>Pogledaj sadrzaj svoje korpe</label>
</div>
<form action="prikaziSadrzajKorpe" method="post">
  
    <input style="width:200px;background-color:aliceblue" color="blue" type="submit" value="Prikazi sadrzaj korpe" background-color="#C8E0E8" />
</form>
