﻿@model IEnumerable<MongoDbProj.Models.Korisnik>

@{
    ViewData["Title"] = "prikaziKorisnike";
}

<h1 style="background-color:darkslategray; color:white; text-align:center">Prikaz korisnika</h1>
<hr />
<hr />

<table class="table">
    <thead style="background-color:seagreen">
        <tr>
            <th width="200">Email</th>
            <th width="200">Password</th>
            <th width="200">Brisanje</th>
            <th width="200">Izmena</th>
         
        </tr>
    </thead>
    <tbody style="background-color:lightgreen">
        @foreach (var item in Model)
        {
            <tr>


                <td>@item.Email</td>
                <td>@item.Password</td>

                <td>
                    <form action="obrisiKorisnika">
                        <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                        <input style="width:100%;background-color:lightyellow; color:red" type="submit" value="Obriši korisnika" />
                    </form>
                </td>
                <td>
                    <form action="idiNaIzmeniKorisnik">
                        <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                        <input style="width:100%;background-color:lightyellow; color:darkslategrey" type="submit" value="Izmeni korisnika" />
                    </form>
                </td>


            </tr>
        }
    </tbody>
</table>

<br>
<br>
<hr>

