﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="text-align:center">
        <h1 class="display-4" style="font:300px; color:darkslategrey; background-color:lightskyblue">Dobrodošli</h1>
        <hr />
        <h4>
            Sajt je namenjen za pretragu vaših omiljenih prodavnica i muzičkih instrumenata koje one sadrže za prodaju. Možete dodati u korpu vaše
            željene proizvode.
        </h4>
        <br>

        <div>
            <h4>
                Za one koji žele da dodaju novu prodavnicu mogu se dodati nove. Takođe u prodavnici je moguće dodati nove proizvode i ukloniti one
                kojih više nema na stanju.
            </h4>
        </div>
        <br>
        <br>

        <hr />
        <div>
            <label style="background-color:lightpink">Prikaz koji vidi administrator</label>
        </div>
        <br>
        <br>

        <div>

            <a href="../Prodavnica/idiNaKreirajProdavnicu">Dodaj novu prodavnicu</a>
        </div>
        <br>
        <div>

            <a href="../Prodavnica/prikaziProdavnice">Pogledaj prodavnice</a>
        </div>
        <br>
        <div>

            <a href="../Korisnik/prikaziKorisnike">Pogledaj korisnike</a>
        </div>
        <br>

        <br>
        <hr />
        <div>
            <label style="background-color:lightpink">Prikaz koji vidi korisnik</label>
        </div>
        <br>
        <div>

            <a href="../Korisnik/kreirajKorisnika">Uloguj se ili prijavi</a>
        </div>
        <br>


         <div>

            <a href="../Proizvod/idiNaPretraziProizvod">Pretrai proizvode</a>
        </div>
        <br>

    </div>
